@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;900&display=swap");

* {
  box-sizing: border-box;
  color: #f5f5f5;
  font-family: "Roboto", sans-serif;
  padding: 0px;
  margin: 0px;
  outline: 0px;
}


body {
    height: 120vh;
    width: 100vw;
    background-image: url(./images/retro-living-room-interior-design.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
}

.header {
    height: 20vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: 50px;
    margin-right: 50px;
}

.logo-text {
    font-size: 20px;
    font-weight: 900;
    font-style: bold;
    margin-top: 50px;
}

.myNav ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}

.nav-item {
    margin-left: 50px;
    font-weight: 400;
    text-decoration: none;
}

.call-us {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.call-us img {
    width: 50px;
    height: 30px;
}

.number {
    text-decoration: none;
}

hr {
    height: 2px;
    width: 70%;
    margin-left: 320px;
}

.content {
    height: 100vh;
    margin-top: -50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.title-and-puzzle-card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.title {
    width: 45%;
    margin-left: 70px;
    margin-top: 70px;
}

.title h1 {
    font-size: 50px;
    font-weight: 500;
    font-style: bold;
}

.puzzle-card {
    margin-right: 110px;
    margin-top: -70px;
    width: 220px;
    height: 120px;
    background-color:rgba(230, 223, 223, 0.15)
}

.bulb-card {
    margin-top: 20px;
    margin-left: 20px;
    width: 220px;
    height: 120px;
    background-color:rgba(230, 223, 223, 0.15)
}

.img-background {
    background-color: #fff;
    width: 65px;
    height: 30px;
    border-radius: 25px;
    margin-top: 20px;
    margin-left: 30px;
}
.img-background img {
    width: 30px;
    height: 30px;
    margin-left: 25%;
    padding: 5px; 
}

.card-text {
    margin-left: 30px;
    margin-top: 10px;
    margin-right: 10px;
}

.text {
    font-weight: 400;
    font-size: 14px;
}

.button-and-bulb-card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    margin-right: 25%;
}

.learn-more-btn button{
    background-color: transparent;
    width: 200px;
    height: 60px;
    padding: 10px 30px;
    border: 2px solid #f5f5f5;
    border-radius: 30px;
    margin-left: 70px;
    margin-top: 90px;
    font-size: 20px;
    font-weight: 500;
    font-style: bold;
}